/* ---------- Main Rule ---------- */
/* reset the browser to default */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #2c3e50;
  --secondary-color: #95a5a6;
  --hover-color: #7f8c8d;
  --error-color: #c0392b;
  --good-color: #27ae60;
  --warning-color: #f1c40f;
  --body-color: #f1f5f9;
  --white: #fff;
}

body {
  background-color: var(--body-color);
  line-height: 1.5;
  font-family: "Segoe UI", sans-serif;
}
/* END */

header {
  background-color: var(--main-color);
  color: var(--white);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;
}

header .logo h1 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  color: var(--white);
}

header .nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 0.4rem;
  flex-wrap: wrap;
}

header .nav-links a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.4rem 0.7rem;
  transition: all 0.4s ease-in-out;
}

header .nav-links a:hover {
  color: var(--hover-color);
}

.main-container {
  max-width: 1000px;
  margin: 1.2rem auto;
  color: var(--main-color);
  padding: 0 1rem;
}

/* remove the comment after edit the style */
/* main > section {
  display: none;
}
section.active {
  display: block;
} */

.dashboard-container .stats-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.stats-grid .card {
  width: 100%;
  background-color: var(--white);
  padding: 1.3rem;
  text-align: center;
  color: var(--main-color);
}

.stats-grid .card:hover {
  background-color: var(--hover-color);
}

.stats-grid .card h3 {
  font-size: 0.8rem;
  color: var(--main-color);
}

.stats-grid .card p {
  font-size: 1.6rem;
}
